{% extends "base.html" %}

{% block title %}Вход в аккаунт{% endblock %}

{% block content %}
  <div class="container">
    <h1>Вход в аккаунт</h1>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Имя пользователя:</label>
        <br>
        {{ form.username }}
      </div>
      <div class="mb-3">
        <label class="form-label">Пароль:</label>
        <br>
        {{ form.password }}
      </div>
      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <p>Ещё нет аккаунта? <a href="{% url 'registration' %}">Зарегистрируйтесь</a></p>
  </div>
{% endblock %}
