<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    {% if user.is_authenticated %}
      <h2>Привет, {{ user.username }}!</h2>
      <ul class="list-group">
        {% for book in books %}
        <li class="list-group-item">
          <a href="book/{{ book.id }}">{{ book.title }}</a>
          {% if book.cover_art %}
            <br>
            <img src="{{ book.cover_art.url }}" class="img-fluid">
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Вы не вошли!</p>
    {% endif %}
  </div>
{% endblock %}
