<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}{{ page.book.title }} {{ page.title }}{% endblock %}

{% block content %}
<div class="container">
    {{ page.book.title }}
    <h2 class="text-center"> {{ page.title }}</h2>
    <div class="card">
        <div class="card-body text-center">
            {{ page.body }}
            {% if page_items %}
            <hr>
            <h4>Вы видите:</h4>
            {% for item in page_items %}
            <li class="list-group-item text-center">
                {{ item.name }} <a href="{% url 'take' page.book.id page.id item.id %}"
                                   onclick="showSuccessMessage(event, '{{ item.name }}')"> взять </a>
            </li>
            {% endfor %}
            {% endif %}
            {% if page.pagelink_set.all %}
            <hr>
            <h4>Куда податься?</h4>
            <ul class="list-group">
                {% for link, passable in links %}
                <li class="list-group-item text-center">
                    {% if passable %}
                    <a href="{% url 'page' page.book.id link.to_page.id %}">
                        {{ link.name }}
                    </a>
                    {% else %}
                    {{ link.name }}
                    {% endif %}
                </li>
                {% endfor %}
                {% endif %}
            </ul>

        </div>

    </div>

</div>

<div class="text-center" style="position: absolute; left: 0;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
            Инвентарь
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for item in items %}
            <li><a class="dropdown-item" href="#">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

<script>
    function showSuccessMessage(event, itemName) {
        event.preventDefault(); // Отменяем стандартное поведение ссылки

        Swal.fire({
            icon: 'success',
            title: 'Вы взяли ' + itemName,
            showConfirmButton: false,
            timer: 1500
        }).then(() => {
            // После закрытия окна, выполняем переход по ссылке
            window.location.href = event.target.href;
        });
    }

</script>

{% endblock %}
